* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* VARIABELS */
:root {
  --dark-cyan: #0e8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream-bg: #fefcf7;
  --gray: #83888f;
  --preferance-bg: #f4f1eb;
  --button-hover: #66d2cf;
  --button-disabeled: #e2dedb;

  /* fonts */
  --title-font-family: "Fraunces", sans;
  --main-font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font-family);
  font-weight: 900;
}

h1 {
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
}

.header__container .sitenav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.header {
  padding: 43px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.site-logo {
  transition: var(--transtion-duration);
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.header__container .sitenav ul li a {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;

  transition: all 0.5s;
}

.header__container .sitenav ul li a:hover {
  color: #333d4b;
}

.footer__container .sitenav ul li a:hover {
  color: #333d4b;
}

.footer__container .sitenav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding-right: 400px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  background: #2c343e;
}

.site-logo {
  transition: var(--transtion-duration);
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

.footer__container .sitenav ul li a {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 125% */
  letter-spacing: 0.923px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.footer__container .sitenav ul li a:hover {
  color: #fff;
}

.footer__container .img {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footer__container .img a:hover {
  color: #fefcf7;
}
